@inherits SignupBase

<div class="signup-form">
    <EditForm Model="@_user" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="username">Username</label>
            <InputText class="form-control" @bind-Value="_user.Username" />
            <ValidationMessage For="@(() => _user.Username)" />
        </div>
        <div class="form-group">
            <label for="firstname">Firstname</label>
            <InputText class="form-control" @bind-Value="_user.Firstname" />
            <ValidationMessage For="@(() => _user.Firstname)" />
        </div>
        <div class="form-group">
            <label for="lastname">Lastname</label>
            <InputText class="form-control" @bind-Value="_user.Lastname" />
            <ValidationMessage For="@(() => _user.Lastname)" />
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <InputText class="form-control" @bind-Value="_user.Email" />
            <ValidationMessage For="@(() => _user.Email)" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText type="password" class="form-control" @bind-Value="_user.Password" />
            <ValidationMessage For="@(() => _user.Password)" />
        </div>
        <div class="form-group">
            <label for="cnfpassword">Confirm password</label>
            <InputText type="password" class="form-control" @bind-Value="_user.CnfPassword" />
            <ValidationMessage For="@(() => _user.CnfPassword)" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
</div>